*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-container {
  background-color: #576f35;
  width: 1280px;
  height: 80px;
  top: 32px;
  padding: 0px 100px 0px 100px;
  gap: 397px;
  display: flex;
}

.navbar-ul {
  display: flex;
  width: 489px;
  height: 52px;
  gap: 20px;
  list-style-type: none;
  margin-left: 550px;
  margin-top: -30px;
}

.navcontainer {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  justify-content: center;
}

.but-how {
  border: 1px solid #fbfbfb66;
  width: 114px;
  height: 44px;
  margin-top: 5px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;

  opacity: 0px;
}

.but-veg {
  width: 101px;
  height: 44px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #fbfbfb66;
  opacity: 0px;
  margin-top: 5px;
}

.but-rev {
  width: 81px;
  height: 44px;
  margin-top: 5px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #fbfbfb66;
  opacity: 0px;
}

.logo-svg {
  width: 194px;
  height: 18px;
  margin-top: 20px;
  display: flex;
}

.but-shop {
  width: 165px;
  height: 52px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  background: #7a3145;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
}

.but-shop:hover {
  background: #622133;
}

.first-div {
  display: flex;
  flex-direction: column;
  gap: 128px;
  font-family: "Inter Tight", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 238px;
  background: none;
}

.title {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  color: #fbfbfb;
  text-align: left;
  width: 502px;
  text-transform: uppercase;
  margin: 0;
}

.explain {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #fbfbfb;
  width: 472px;
}

.background-wrapper {
  background: url("../images/hero.jpg") right no-repeat;
  background-size: 650px 100%;
  background-color: #576f35;
  padding-top: 32px;
  position: relative;
}

.header-container,
.first-div {
  background: none;
}

.organic-vegatables {
  background-color: #7a3145;
  padding: 100px;
  gap: 50px;
}

.info {
  gap: 25px;
}

.main-text {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #fbfbfb;
  letter-spacing: -1.5%;
  display: flex;
  flex-direction: column;
}

.main-text > .opacity-vegetables-text {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #fbfbfb;
  opacity: 0.3;
  letter-spacing: -1.5%;
}

.info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fbfbfb;
  width: 626px;
  margin-top: 1.563em;
  margin-bottom: 1.563em;
}

.products-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #fbfbfb;
  border-radius: 40px;
  width: 346px;
  padding: 32px;
  gap: 10px;
  box-sizing: border-box;
}

.product-card > h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  color: #7a3145;
  gap: 12px;
  margin-bottom: 5%;
}

.product-card > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1.5%;
  color: #141414;
  gap: 12px;
}
/*section3*/
.organic-up-to{
  width: 1280px;
  height: 440px;
}
.organic-paragraph{
  width: 1080px;
  height: 240px;
  margin-left: 113px;
  padding-top: 100px;
}
.discount-info{
  font-family:"Inter Tight" sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -1.5%;
}
.up-to{
  background-color: #576f35;
  border-radius: 12px;
  color: #FBFBFB;
}

.footer {
  display: flex;
  flex-direction: column;
  font-family: Inter Tight, sans-serif;
  justify-content: start;
  padding: 50px 100px;
  background-color: #7A3145;
}
/* section2 css başlangıç */

.section-second {
  height: 759px;
  display: flex;
  flex-direction: row;
}

.section-second-first-part {
  width: 630px;
  height: 759px;
  background-color: #7a3145;
}

.section-second-first-part-img {
  width: 430px;
  height: 559px;
  padding-left: 100px;
  padding-top: 100px;
  
}

.first-part-img {
  border-radius: 30px;
  background-size: cover;
}

.section-second-second-part {
  width: 650px;
  height: 759px;
  background-color: #576f35;
}

.section-second-second-part-internal {
  width: 450px;
  height: 499px;
  padding-left: 100px;
  padding-bottom: 160px;
  padding-top: 100px;
  padding-right: 100px;
}

.section-second-second-part-header {
  width: 450px;
  height: 96px;
  font-family: "Inter Tight", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  color: #fbfbfb;
}

.section-second-second-part-header h1 {
  margin: 0 auto;
  width: 450px;
  height: 96px;
  
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  color: #fbfbfb;
}

.section-second-second-part-header span {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  opacity: 30%;
}

.section-second-second-part-text {
  width: 450px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fbfbfb;
}

.section-second-second-part-text p {
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0 px;
  margin-right: 0px;
}

.section-second-second-part-steps {
  width: 450px;
  height: 268px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.section-second-second-part-first-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-second-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-third-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-first-step-p {
  width: 325px;
  height: 40px;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 1%;
  
}

.section-second-second-part-second-step-p {
  width: 325px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 4%;
  
}




.section-second-second-part-third-step-p {
  width: 323px;
  height: 40px;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 1%;
}

.section-second-second-part-first-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}


.section-second-second-part-second-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}


.section-second-second-part-third-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.section-second-second-part-first-step-img{
  padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
}

.section-second-second-part-second-step-img{
  padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
}


.section-second-second-part-third-step-img{
  padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
}

.footer-container {
  width: 1280px;
  margin: 0 auto;
}

.menu-contact {
  display: flex;
  align-items: start;
  gap: 40px 302px;
  color: rgba(251, 251, 251, 1);
  justify-content: start;
  flex-wrap: wrap;
}

.logo-text {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  justify-content: start;
  width: 265px;
}

.img-logo {
  aspect-ratio: 10.75;
  object-fit: contain;
  object-position: center;
  width: 194px;
  max-width: 100%;
}

.footer-text {
  margin-top: 25px;
}

.block-footer {
  display: flex;
  min-width: 240px;
  align-items: start;
  gap: 40px 121px;
  font-weight: 600;
  justify-content: start;
  flex-wrap: wrap;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  letter-spacing: -0.48px;
  line-height: 1;
  justify-content: start;
}

.vegetables-footer,
.reviews-footer {
  margin-top: 25px;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  letter-spacing: -0.27px;
  justify-content: start;
  width: 215px;
  color: rgba(251, 251, 251, 1);
}

.phone-number {
  line-height: 1;
}

.address {
  line-height: 20px;
  margin-top: 25px;
}

.privacy-policy {
  display: flex;
  margin-top: 125px;
  align-items: start;
  gap: 40px 660px;
  font-size: 18px;
  color: rgba(251, 251, 251, 0.5);
  font-weight: 500;
  letter-spacing: -0.27px;
  line-height: 1;
  justify-content: start;
  flex-wrap: wrap;
}

.block-4 {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.privacy-policy-2,
.cookie-settings,
.block-copyright {
  align-self: stretch;
  margin: auto 0;
  color: rgba(251, 251, 251, 0.5);
  ;
}

.privacy-policy a:visited,

a:active {
  color: rgba(251, 251, 251, 0.5);
  text-decoration: none;
}

.contacts-footer a:link{
  color: rgba(251, 251, 251, 1);
  text-decoration: none;
}

@media only screen and (max-width: 1280px) {
  .footer {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
    /* Fixed typo from var(--space-3x1) */
  }
}

@media only screen and (max-width: 1280px) {
  .footer-container {
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
  }
}

@media only screen and (max-width: 1280px) {
  .menu-contact {
    gap: 85px;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-contact {
    gap: 71px;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 375px) {
  .menu-contact {
    gap: 57px;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 1280px) {
  .logo-text .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1280px) {
  .logo-text .column {
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .block-footer {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .block-footer {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .menu-footer {
    flex-direction: column;
    align-self: stretch;
  }
}

@media only screen and (max-width: 375px) {
  .menu-footer{
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .contacts-footer {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .privacy-policy {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1280px) {
  .block-4 {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .block-4 {
    align-self: stretch;
  }
}