*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  justify-content: center;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.header-container {
  background-color: #576f35;
  height: 80px;
  padding: 0 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.menu-toggle {
  display: none;
}

.navbar{
  display: flex;
  gap: 100px;
}

.menu-toggle:checked ~ .navbar-ul {
  left: 37%;
  width: 375px;
  height: 896px;
  visibility: inherit;
}

.navbar-ul {
  position: fixed; 
  top: 0; 
  left: -250px; 
  width: 250px;
  height: 100vh;
  background-color: #622133;
  display: flex;
  align-items: center;
  transition: center 0.3s ease;
  z-index: 20;
  visibility: hidden;
  list-style-type: none;
}

.navbar-ul a {
  display: block;
  text-align: center;
  width: 100%;
  gap: 8px;
  background-color: #622133;
  color: white;
  text-decoration: none;
}

.navbar-ul a:hover {
  background-color: #7a3145;
}

.navcontainer {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fbfbfb;
}

.navbar-ul .shop-now{
  position: fixed;
  top: 722px;
  left: 100px;
}

.but-how, .but-veg, .but-rev, .but-shop {
  border: 1px solid #fbfbfb66;
  width: 120px;
  height: 44px;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}

.but-shop {
  background-color: #fbfbfb;
  color: #7A3145;
  width: 157px;
  padding: 16px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
}

.but-shop:hover {
  color: rgba(122, 49, 69, 0.7);
  
}

.but-bar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo-svg {
  margin-left: 0; 
  margin-right: 20px; 
  display: flex;
  align-items: center;
}

.close-menu {
  display: none; 
}

.menu-toggle:checked ~ .navbar-ul {
  left: 0;
}

.menu-toggle:checked ~ .navbar-ul .close-menu {
  display: block; 
  position: fixed;
  top : 20px;
  left: 323px;
}

.menu-toggle:checked ~ .but-bar {
  display: none; 
}

.navbar-ul {
  position: fixed; 
 
  left: 130px; 
  width: 250px;
  height: 886px;
  background-color: #622133;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 20; 
  gap: 8px;

}

.navbar-ul .close-icon {
  cursor: pointer;
  margin: 20px 0; 
}

.navbar-ul .how-it{
    margin-top: 240px;
}



.first-section .title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.first-section .explain {
  font-size: 14px;
  color: #fbfbfb;
}

.first-section .img-area {
  margin-top: 20px;
}

.first-div {
  display: flex;
  flex-direction: column;
  gap: 128px;
  font-family: "Inter Tight", sans-serif;
  padding-right: 100px;
  padding-bottom: 50px;
  background: none;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: #fbfbfb;
  text-align: left;
  width: 335px;
  height: 192px;
  margin-left: 25px;
}

.explain {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fbfbfb;
  width: 335px;
  height: 90px;
  margin-top: -90px;
  margin-left: 25px;
}

.background-wrapper {
  background-size: 375px 100%;
  background-color: #576f35;
  padding-top: 32px;
  position: relative;
}

.header-container,
.first-div {
  background: none;
}

.organic-vegatables {
  background-color: #7a3145;
  padding: 80px 20px 80px 20px;
  gap: 40px;
}

.info {
  gap: 25px;
}

.main-text {
  width: 335px;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  color: #fbfbfb;
  letter-spacing: -1.5%;
  display: flex;
  flex-direction: column;
}

.main-text > .opacity-vegetables-text {
  width: 335px;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  color: #fbfbfb;
  opacity: 0.3;
  letter-spacing: -1.5%;
}

.info-text {
  width: 335px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fbfbfb;
  margin-top: 4.063em;
  margin-bottom: 4.063em;
}

.products-list {
  width: 334px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #fbfbfb;
  border-radius: 40px;
  width: 334px;
  padding: 32px 26px 32px 26px;
  gap: 10px;
  box-sizing: border-box;
}

.product-card > h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  color: #7a3145;
  gap: 12px;
  margin-bottom: 5%;
}

.product-card > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1.5%;
  color: #141414;
  gap: 12px;
}

.organic-up-to {
  padding: 100px;
  position: relative;
  gap: 10px;
}
.organic-paragraph {
  width: 1080px;
  height: 240px;
}
.discount-info {
  height: 240px;
  font-weight: 600;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -1.5%;
}
.up-to {
  background-color: #576f35;
  border-radius: 12px;
  color: #fbfbfb;
}

.footer {
  display: flex;
  flex-direction: column;
  font-family: Inter Tight, sans-serif;
  justify-content: start;
  padding: 50px 100px;
  background-color: #7a3145;
}
/* section2 css başlangıç */

.section-second {
  height: 759px;
  display: flex;
  flex-direction: row;
}

.section-second-first-part {
  width: 630px;
  height: 759px;
  background-color: #7a3145;
}

.section-second-first-part-img {
  width: 430px;
  height: 559px;
  padding-left: 100px;
  padding-top: 100px;
}

.first-part-img {
  background-size: cover;
}

.section-second-second-part {
  width: 650px;
  height: 759px;
  background-color: #576f35;
}

.section-second-second-part-internal {
  width: 450px;
  height: 499px;
  padding-left: 100px;
  padding-bottom: 160px;
  padding-top: 100px;
  padding-right: 100px;
}

.section-second-second-part-header {
  width: 450px;
  height: 96px;
  font-family: "Inter Tight", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  color: #fbfbfb;
}

.section-second-second-part-header h1 {
  margin: 0 auto;
  width: 450px;
  height: 96px;

  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  color: #fbfbfb;
}

.section-second-second-part-header span {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
  opacity: 30%;
}

.section-second-second-part-text {
  width: 450px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fbfbfb;
}

.section-second-second-part-text p {
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0 px;
  margin-right: 0px;
}

.section-second-second-part-steps {
  width: 450px;
  height: 268px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.section-second-second-part-first-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-second-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-third-step {
  width: 450px;
  height: 76px;
  background-color: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 12px 25px 12px 24px;
  gap: 24px;
}

.section-second-second-part-first-step-p {
  width: 325px;
  height: 40px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 1%;
}

.section-second-second-part-second-step-p {
  width: 325px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 4%;
}

.reviews-section {
  background-color: #fbfbfb;
  padding: 80px 20px 80px 20px;
  gap: 40px;
}

.reviews-content {
width: 335px;
gap: 20px;
display: flex;
flex-direction: column;
max-width: 553px;
color: #141414;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  line-height: 50px;
}

.reviews-subtitle {
  margin-top: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.reviews-grid {
display: flex;
flex-direction: column;
gap: 18px;
margin-top: 50px;
}

.review-card {
border-radius: 24px;
background-color: #fbfbfb;
border: 1px solid rgba(122, 49, 69, 0.3);
padding: 20px 16px 20px 16px;
width: 100%;
width: 335x;
display: none;
flex-direction: column;
align-items: center;
}

.review-card:first-child {
display: flex;
}

.review-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.review-content {
  margin-top: 24px;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}

.reviewer-name {
  color: #141414;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.36px;
}

.review-text {
  color: rgba(20, 20, 20, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 8px;
}

.highlight {
  color: #576f35;
}




/* CSS */
.harvest-container {
  background-color: #722f37;
  padding: 40px;
  color: white;
  font-family: Arial, sans-serif;
}

.section-second-second-part-third-step-p {
  width: 323px;
  height: 40px;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141499;
  padding: 1%;
}

.section-second-second-part-first-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.section-second-second-part-second-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.section-second-second-part-third-step-p span {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.section-second-second-part-first-step-img {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

.section-second-second-part-second-step-img {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

.section-second-second-part-third-step-img {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

.menu-contact {
  display: flex;
  align-items: start;
  gap: 40px 302px;
  color: rgba(251, 251, 251, 1);
  justify-content: start;
  flex-wrap: wrap;
}

.logo-text {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  justify-content: start;
  width: 265px;
}

.img-logo {
  aspect-ratio: 10.75;
  object-fit: contain;
  object-position: center;
  width: 194px;
  max-width: 100%;
}

.harvest-container {
  background-color: #7a3145;
  padding: 20px;
  color: white;
}

.main-title {
  width: 335px;
  height: 200px;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  line-height: -1.2;
  letter-spacing: -1.5%;
  gap: 25px;
  margin-top: 80px;
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
  margin-bottom: 29px;
  text-align: left;
}
.content-wrapper {
  text-align: left;
}

.text-gray {
  color: #a9a9a9;
}

.subtitle {
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 64px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.description {
  width: 335px;
  height: 72px;
  opacity: 0px;
  margin-bottom: 30px;
  max-width: 800px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  margin-bottom: 50px;
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
  text-align: left;
}

.boxes-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  border-radius: 30px;
  width: 335px;
  
}

.form-container {
  background-color: #fbfbfb;
  border-radius: 30px;
  flex: 1;
  width: 295px;
  gap: 15px;
}

.form-title {
  color: #141414;
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 26px;
  width: 295px;
  height: 130px;
  gap: 0px;
  opacity: 0px;
  font-weight: 600px;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: -1.5%;
  margin-left: 25px;
  text-align: left;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fromus {
  color: #7a3145;
  letter-spacing: -1.5%;
}

.theform {
  color: #576f35;
  letter-spacing: -1.5%;
}
.form-input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #141414;
}

.form-textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #141414;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 40px;
  align-items: center;
}

.form-group {
  gap: 10px;
}
.form-input {
  width: 295px;
  height: 46px;
}

.form-input,
.form-textarea {
  padding: 12px;
  border-radius: 30px;
  font-size: 1em;
  border: 1px solid #14141433;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Inter Tight", sans-serif;
}

.form-textarea {
  height: 100px;
  resize: vertical;
  border-radius: 15px;
  width: 295px;
  height: 91px;
}

.submit-btn:hover {
  background-color: #4a6432;
}

.submit-btn {
  background-color: #5c7c3e;
  color: white;
  padding-left: 129px;
  padding-right: 129px;
  padding-top: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 295px;
  height: 50px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  font-family: "Inter Tight", sans-serif;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

.imgjuice {
  
  align-items: center;
  border-radius: 15px;
}

.social-container {
  background-color: #576f35;
  padding: 50px;
  gap: 50px;
  border-radius: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 465px;
  gap: 80px;
}

.social-image {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
 
  border-radius: 15px;
  color: rgba(20, 20, 20, 0.3);
}

.social-image img {
  width: 295px;
  height: 273px;
  object-fit: contain;
  border-radius: 15px;

}

.social-content {
  width: 295px;
  height: 92px;
  gap: 14px;
  justify-content: left;
}

.social-text {
  color: #fbfbfb;
  opacity: 0.5;
  width: 300px;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.015em;
  font-family:"Inter Tight",sans-serif ;

}

.social-links {
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2px;
  letter-spacing: -1.5%;
  gap: 12px;
  width: 357px;
  font-family:"Inter Tight",sans-serif ;
  height:60px;
}

.social-link {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;

}

.social-link:hover {
  opacity: 0.8;
}
.footer {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 80px;
  position:relative;
  margin: 0 auto;
  
}
.menu-contact {
  display: flex;
  width: 296px;
  height: 344px;
  gap: 40px;
}
.footer-menu{
  font-family:"Inter Tight",sans-serif ;
  font-size:28px ;
  font-weight:600px ;

}

.logo-text {
  width: 296px;
  height: 84px;
  gap: 14px;
}
.block-footer {
  width: 215px;
  height: 220px;
  gap: 40px;
}

.footer-text {
  width: 296px;
  height: 54px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.2;
  color: #fbfbfb;
  
}


.nav-footer .footer-menu{
  font-family: "Inter Tight",sans-serif;
  font-size:28px;
  font-weight:600px ;
  line-height:1.5;
  letter-spacing: -1.5%;
  list-style-type: none;
  
}
.contacts-footer{
  
  font-family:"Inter Tight",sans-serif;
  font-weight: 600px;
  font-size: 14px;
  margin-top:40px;
  text-decoration: none;
  
 
 
  
}
.address,
.phone{
  text-decoration: none;
 
  color:#fbfbfb;
  width: 215px;
  height: 68px;
   
}

.contact-items{
  padding-bottom:14px;
  list-style-type: none;
  
}
.privacy-policy{
  width: 335px;
  height: 16px;
  gap:49px;
}

.contacts-footer a:link {
  color: rgba(251, 251, 251, 1);
  text-decoration: none;
}

.privacy-policy a:visited,
a:active {
  color: rgba(251, 251, 251, 0.5);
  text-decoration: none;
}

.privacy-policy-2,
.cookie-settings,
.block-copyright {
  align-self: stretch;
  margin: auto 0;
  color: rgba(251, 251, 251, 0.5);
  text-decoration: none;
}

.block-4 {
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.privacy-policy {
  display: flex;
  align-items: start;
  font-size: 12px;
  color: rgba(251, 251, 251, 0.5);
  font-weight: 500;
  letter-spacing: -0.27px;
  line-height: 1;
  justify-content: start;
  font-family: "Inter Tight", sans-serif;
}



