*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-container {
  background-color: #576f35;
  width: 1280px;
  height: 80px;
  top: 32px;
  padding: 0px 100px 0px 100px;
  gap: 397px;
  display: flex;
}

.navbar-ul {
  display: flex;
  width: 489px;
  height: 52px;
  gap: 20px;
  list-style-type: none;
  margin-left: 550px;
  margin-top: -30px;
}

.navcontainer {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  justify-content: center;
}

.but-how {
  border: 1px solid #fbfbfb66;
  width: 114px;
  height: 44px;
  margin-top: 5px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;

  opacity: 0px;
}

.but-veg {
  width: 101px;
  height: 44px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #fbfbfb66;
  opacity: 0px;
  margin-top: 5px;
}

.but-rev {
  width: 81px;
  height: 44px;
  margin-top: 5px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #fbfbfb66;
  opacity: 0px;
}

.logo-svg {
  width: 194px;
  height: 18px;
  margin-top: 20px;
  display: flex;
}

.but-shop {
  width: 165px;
  height: 52px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  background: #7a3145;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
}

.but-shop:hover {
  background: #622133;
}

.first-div {
  display: flex;
  flex-direction: column;
  gap: 128px;
  font-family: "Inter Tight", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 238px;
  background: none;
}

.title {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  color: #fbfbfb;
  text-align: left;
  width: 502px;
  text-transform: uppercase;
  margin: 0;
}

.explain {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #fbfbfb;
  width: 472px;
}

.background-wrapper {
  background: url("../images/hero.jpg") right no-repeat;
  background-size: 50% 100%;
  background-color: #576f35;
  padding-top: 32px;
  position: relative;
}

.header-container,
.first-div {
  background: none;
}

.organic-vegatables {
  background-color: #7a3145;
  padding: 100px;
  gap: 50px;
}

.info {
  gap: 25px;
}

.main-text {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #fbfbfb;
  letter-spacing: -1.5%;
  display: flex;
  flex-direction: column;
}

.main-text > .opacity-vegetables-text {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #fbfbfb;
  opacity: 0.3;
  letter-spacing: -1.5%;
}

.info-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fbfbfb;
  width: 626px;
  margin-top: 1.563em;
  margin-bottom: 1.563em;
}

.products-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #fbfbfb;
  border-radius: 40px;
  width: 346px;
  padding: 32px;
  gap: 10px;
  box-sizing: border-box;
}

.product-card > h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  color: #7a3145;
  gap: 12px;
  margin-bottom: 5%;
}

.product-card > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1.5%;
  color: #141414;
  gap: 12px;
}
